body {
    font-family: 'Anton', 'Antonio';
    background-color: #E4DAD8;
}

h1 {
    font-size: 30px;
    font-weight: 500;
    line-height: 20px;
}

p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.navbar {
    background-color: #E4DAD8;
}

.container1 {
    background-color: #D79281;
}

.card   {
    background-color: #D79281;
}

.btn {
    background-color: #D56B43;
}

.btn-lg {
    align-items: center;
}